<div class="logo">
    <a [routerLink]="['/']">
        {{settings.app.name}}
       
    </a>
</div>
<div class="top-nav-wrap">
    <ul class="top-nav">
        <!-- Menu -->
        <li>
            <div class="item" (click)="toggleCollapsedSideabar()">
                <i class="anticon anticon-menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>
            </div>
        </li>
       
        <!-- Lock Page -->
        <li class="hidden-xs hidden">
            <div class="item" [routerLink]="['/lock']">
                <i class="anticon anticon-lock"></i>
            </div>
        </li>
    </ul>
    <ul class="top-nav">
        <!-- Task -->
        <li>
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            <span class="user-name">root</span>
        </li>
        <li class="hidden-xs">
            <button nz-button [nzType]="'primary'" (click)="loginout()">
                <span>退出</span>
            </button>
        </li>
        <!-- Settings -->
        <li class="hidden-xs">
            <div class="m-theme-pink"></div>
        </li>
    </ul>
</div>