<div class="m-modal-ip">
    <div class="customize-body">
        <form nz-form>
            <div nz-form-item nz-row>
                <h3 class="text-center">服务器IP配置</h3>
                <nz-input style="display:none;"></nz-input>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label nz-form-item-required>IP地址</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control>
                    <div class="ant-input m-input-ip ant-input-lg" nz-row>
                        <div class="ip-input">
                            <div nz-col [nzSpan]="6">
                                <input type="text" [(ngModel)]="data_form.ip[0]" name="0" (keyup)="ipChange($event)"  />
                            </div>
                            <div nz-col [nzSpan]="6">
                                <input type="text" [(ngModel)]="data_form.ip[1]" name="1" (keyup)="ipChange($event)" />
                            </div>
                            <div nz-col [nzSpan]="6">
                                <input type="text" [(ngModel)]="data_form.ip[2]" name="2" (keyup)="ipChange($event)" />
                            </div>
                            <div nz-col [nzSpan]="6">
                                <input type="text" [(ngModel)]="data_form.ip[3]" name="3" (keyup)="ipChange($event)" />
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div nz-form-item nz-row>
                <h3 class="text-center">DHCP网络配置</h3>
            </div>
            <div nz-form-item nz-row>
                <div nz-form-label nz-col [nzSpan]="7">
                    <label>子网</label>
                </div>
                <div nz-col [nzSpan]="12" nz-form-control>
                    <div class="ant-input m-input-ip ant-input-lg" nz-row>
                        <div class="ip-input">
                        </div>
            
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="customize-footer text-center">
        <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleCancel($event)">取消</button>
         &nbsp;&nbsp;&nbsp;&nbsp;
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="emitDataOutside($event)">确定</button>
    </div>
</div>