<div class="m-server">
    <div class="m-server-menu">
        <nz-dropdown>
            <button nz-button nz-dropdown [nzType]="'primary'" [nzSize]="'large'">
                <span>系统未注册</span>
                <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li nz-menu-item (click)="showModalIn()">未注册</li>
                <li nz-menu-item (click)="showModalOnServer()">开启系统</li>
                <li nz-menu-item (click)="showModalOffServer()">关闭系统</li>
            </ul>
        </nz-dropdown>
    
    
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="showModalIp()">
            <span>网络配置</span>
        </button>
    
        <nz-dropdown>
            <button nz-button nz-dropdown [nzType]="'primary'" [nzSize]="'large'">
                <span>部署模式已关闭</span>
                <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li nz-menu-item (click)="showModalOpenDeploy()">开启部署模式</li>
                <li nz-menu-item (click)="showModalCloseDeploy()">退出部署模式</li>
            </ul>
        </nz-dropdown>
    
        <nz-dropdown>
            <button nz-button nz-dropdown [nzType]="'primary'" [nzSize]="'large'">
                <span>服务器管理</span>
                <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li nz-menu-item>重启</li>
                <li nz-menu-item>关机</li>
            </ul>
        </nz-dropdown>
    
        <nz-dropdown>
            <button nz-button nz-dropdown [nzType]="'primary'" [nzSize]="'large'">
                <span>终端组管理</span>
                <i class="anticon anticon-down"></i>
            </button>
            <ul nz-menu>
                <li nz-submenu>
                    <span title>机房组</span>
                    <ul nz-menu>
                        <li nz-menu-item>重起</li>
                        <li nz-menu-item>关机</li>
                        <li nz-submenu>
                            <span title>自动登录镜像</span>
                            <ul>
                                <li nz-menu-item>ubuntu.img</li>
                                <li nz-menu-item>无</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <span title>办公组</span>
                    <ul nz-menu>
                        <li nz-menu-item>重起</li>
                        <li nz-menu-item>关机</li>
                        <li nz-submenu>
                            <span title>自动登录镜像</span>
                            <ul>
                                <li nz-menu-item>ubuntu.img</li>
                                <li nz-menu-item>无</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li nz-submenu>
                    <span title>所有终端</span>
                    <ul nz-menu>
                        <li nz-menu-item>重起</li>
                        <li nz-menu-item>关机</li>
                    </ul>
                </li>
            </ul>
        </nz-dropdown>
    </div>
    
    
    <div class="m-title">
        <div class="title-name">系统概况</div>
    </div>
    <div class="m-xs server-run">
        <nz-card class="m-box">
            <ng-template #body>
                <div nz-row [nzGutter]="0">
                    <div nz-col [nzSm]="12">
                        <div nz-col [nzSm]="24">
                            <div class="run-title">运行情况：良好</div>
                        </div>
                        <div nz-col [nzSm]="24" class="run-nb">
                            <div nz-col [nzSm]="6">
                                <div class="server-nb">
                                    <span>6</span>
                                    <p>模板数</p>
                                </div>
                            </div>
                            <div nz-col [nzSm]="6">
                                <div class="server-nb">
                                    <span>4</span>
                                    <p>镜像数</p>
                                </div>
                            </div>
                            <div nz-col [nzSm]="6">
                                <div class="server-nb">
                                    <span>3</span>
                                    <p>用户组数</p>
                                </div>
                            </div>
                            <div nz-col [nzSm]="6">
                                <div class="server-nb">
                                    <span>38</span>
                                    <p>用户数</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div nz-col [nzSm]="12">
                        <div nz-col [nzSm]="8">
                            <div class="server-round">
                                <div class="m-round">
                                    <div class="round-number">
                                        <span class="number-left">66%</span>
                                        <i></i>
                                        <span class="number-right">29G</span>
                                    </div>
                                    <div style="height:120px;" echarts [options] = "chartOption1" [loading]="showloading" class="demo-chart"></div>
                                </div>
                                <p>镜像空间</p>
                            </div>
                        </div>
                        <div nz-col [nzSm]="8">
                            <div class="server-round">
                                <div class="m-round">
                                    <div class="round-number">
                                        <span class="number-left">66%</span>
                                        <i></i>
                                        <span class="number-right">29G</span>
                                    </div>
                                    <div style="height:120px;" echarts [options]="chartOption2" [loading]="showloading" class="demo-chart"></div>
                                </div>
                                <p>网盘空间</p>
                            </div>
                        </div>
                        <div nz-col [nzSm]="8">
                            <div class="server-round">
                                <div class="m-round">
                                    <div class="round-number">
                                        <span class="number-nb">15%</span>
                                    </div>
                                    <div style="height:120px;" echarts [options]="chartOption3" [loading]="showloading" class="demo-chart"></div>
                                </div>
                                <p>传输速率</p>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </nz-card>
    </div>
    
    <div class="m-title">
        <div class="title-name">系统概况</div>
    </div>
    <div class="m-xs">
        <nz-card class="m-box">
            <ng-template #body>
                <div nz-row class="server-sys-header">
                    <div nz-col [nzSm]="16">
                        <ul class="server-sys-zt">
                            <li><span>216</span><p>终端授权数</p>
                            </li>
                            <li>
                                <span>216</span>
                                <p>终端授权数</p>
                            </li>
                            <li>
                                <span>216</span>
                                <p>终端授权数</p>
                            </li>
                            <li>
                                <span>216</span>
                                <p>终端授权数</p>
                            </li>
                            <li><span>216</span><p>终端授权数</p></li>
                        </ul>
                    </div>
                    <div nz-col [nzSm]="8" class="server-sys-gl">
                        <div nz-form-label nz-col [nzSpan]="10">
                            <label nz-form-item-required>终端组过滤</label>
                        </div>
                        <div nz-form-control nz-col [nzSpan]="14">
                            <nz-select [nzSize]="'large'" style="width:100%;">
                                <nz-option [nzLabel]="'China'" [nzValue]="'China'"></nz-option>
                                <nz-option [nzLabel]="'U.S.A'" [nzValue]="'U.S.A'"></nz-option>
                            </nz-select>
                        </div>
                    </div>
                </div>

                <nz-table #nzTable [nzAjaxData]="table_data.table_res.row" [nzShowSizeChanger]="true" [nzLoading]="loading" [nzTotal]="table_data.table_res.total"
                    [(nzPageIndex)]="table_data.form.pageIndex" (nzPageIndexChange)="findFunctionList()" [(nzPageSize)]="table_data.form.pageSize"
                    (nzPageSizeChange)="findFunctionList()">
                    <thead nz-thead>
                        <tr>
                            <th nz-th [nzCheckbox]="true">
                                <label nz-checkbox [(ngModel)]="table_data.checkbox.allChecked" [nzIndeterminate]="table_data.checkbox.indeterminate" (ngModelChange)="table_data.checkbox.checkAll()">
                                </label>
                            </th>
                            <th nz-th>
                                <span>用户名</span>
                                <nz-table-sort (nzValueChange)="table_data.sort($event, 'name')"></nz-table-sort>
                            </th>
                            <th nz-th>
                                <span>真实姓名</span>
                                <nz-table-sort (nzValueChange)="table_data.sort($event, 'realName')"></nz-table-sort>
                            </th>
                            <th nz-th>
                                <span>用户组</span>
                            </th>
                            <th nz-th>
                                <span>绑定终端组</span>
                            </th>
                            <th nz-th>
                                <span>绑定的终端</span>
                            </th>
                            <th nz-th>
                                <span>操作</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                            <td nz-td [nzCheckbox]="true">
                                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="table_data.checkbox.refChecked()">
                                </label>
                            </td>
                            <td nz-td>{{data.name}}</td>
                            <td nz-td>{{data.realName}}</td>
                            <td nz-td>{{data.grpName}}</td>
                            <td nz-td>{{data.grpName}}</td>
                            <td nz-td>{{data.grpName}}</td>
                            <td nz-td>
                                <nz-dropdown-button (nzClick)="showMsg('修改')" [nzSize]="'small'">
                                    修改
                                    <ul nz-menu class="m-dropdown-operate">
                                        <li nz-menu-item>
                                            <a (click)="showMsg('查看')">查看</a>
                                        </li>
                                        <li nz-menu-item>
                                            <a (click)="showMsg('删除')">删除</a>
                                        </li>
                                    </ul>
                                </nz-dropdown-button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </ng-template>
        </nz-card>
    </div>
</div>
